/*
///////////////////////////////////////
*/

#top-area {
  padding: 200px 15px 90px 15px;
  background: url(../images/bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#top-area .profile-info .user-img {
  padding: 10px;
  display: inline-block;
}

#top-area .profile-info .user-img img {
  border-radius: 50%;
}

#top-area .profile-info .user-details {
  display: inline-block;
  padding: 15px;
  vertical-align: top;
  margin-top: 45px;
  width: 50%;
}

#top-area .profile-info .user-details h3 {
  display: block;
  color: white;
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 8px;
  text-align: left;
}

#top-area .profile-info .user-details a {
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  margin-right: 3%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  border: 5px solid rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease-in-out;
}

#top-area .profile-info .user-details a:hover {
  background: rgba(12, 128, 173, 0.6);
}
