.section-top {
  padding: 200px 15px 90px 15px;
  background: url(../images/bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.profile {
  &__image {
    border-radius: 50%;
    display: inline-block;
  }
  &__details {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
}
