.btn {
  display: inline-block;
  border-radius: $border-radius;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font: $default-font-size;
  background: rgba($navy, 0.8);
  color: $white;
  padding: 0 1rem;
  margin: 0 1rem;
  border: 5px solid rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: rgba($blue, 0.6);
  transform: translateY(-1rem) scale(1.1);
  box-shadow: 1rem 4rem 4rem ($black, 0.8);
}
