body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 30px;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 60px;

  &--main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;

    /* Short hand version, animation: 'animation-name' 'animation-duration' 'animation-timing-function' */
    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block; // only take up width that element covers
  // give gradient effect to text
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text; // clips background to exactly where the text is
  color: transparent; // so we can see clipped background gradient
  letter-spacing: 2px; // px so small we don't really need to use rem here
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1); // effect of text skewing when hovered on
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}
.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
