body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

.heading-primary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  color: $white;
  letter-spacing: 2px; // px so small we don't really need to use rem here
  text-shadow: 0.5rem 1rem 2rem rgba($black, 0.2);
}
